:root {
    --default-font-family: "Inter", Roboto Mono, sans-serif, monospace;
    --background-color: #DBDBDB;
    --font-color: #0F0F0F;
    --alt-background-color: #0F0F0F;
    --alt-font-color: #DBDBDB;
    --board-color: #02306B;
    --red-chip: #7A0505;
    --yellow-chip: #FFEA00;

    --default-transition: 0.3s ease-in-out;
}

.dark {
    --background-color: #0F0F0F;
    --font-color: #DBDBDB;
    --alt-background-color: #DBDBDB;
    --alt-font-color: #0F0F0F;
    --board-color: #047AE0;
}

body {
    margin: 0;
    background-color: var(--background-color);
    color: var(--font-color);
    transition: var(--default-transition);
}

h6 {
    margin: 0;
}

input {
    font-family: var(--default-font-family);
}

input[type="button"] {
    font-family: var(--default-font-family);
    background-color: var(--alt-background-color);
    color: var(--alt-font-color);
    cursor: pointer;
    border: 1px solid var(--background-color);
    border-radius: 5px;
    font-weight: 700;
}